body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f1f1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1;
}

.home {
    width: 60%;
    max-width: 800px;
    padding: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.home .heading {
    font-size: 2.5rem;
    color: #333;
    margin: 10px 0;
}

.home .para {
    margin-bottom: 20px;
    line-height: 1.5;
}

.home button {
    background-color: #333;
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home button:hover {
    background-color: #555;
}

#video {
    width: 80%;
    max-width: 800px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video video {
    width: 100%;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}
